input {
  border-radius: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
input:focus {
  border-color: darkgrey;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.24);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.col-xs-9 {
  height: 100vh;
  padding: 0;
}
.sebm-google-map {
  position: fixed;
}
.sebm-google-map-container {
  position: absolute;
  top: 0;
  right:0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.form-group {
  position: fixed;

  width: 500px;
  margin: 15px 0 0 20px;
  z-index: 2;
}
