<div class="row">
  <app-sidebar></app-sidebar>
  <div class="col-xs-9">
      <div class="form-group">
        <input
          placeholder="Search Leaf Map"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          type="text"
          class="form-control"
          #search
          [formControl]="searchControl">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
      </div>
      <router-outlet></router-outlet>
      <sebm-google-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <sebm-google-map-marker
          *ngFor="let m of markers;"
          [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"></sebm-google-map-marker>
      </sebm-google-map>
  </div>
</div>
