
h3 {
  position: relative;
  left: 25px;
  margin-top: 15px;
}
button[disabled]:hover {
  cursor: default;
}
img {
  position: absolute;
  max-height: 70px;
  margin-top: 5px; 
  right: 25px;
}
#card {
  position: relative;
  height: 80px;
  margin: 0 -15px 0 -15px;
  z-index: 2;
  background: lightgrey;
}
#content {
  margin: 0;
}
