<div id="card">
  <div class="row">
      <h3>Weather</h3>
  </div>
  <div id="content" class="row">
    <div
      class="col-xs-3"
      *ngFor="let data of dailyData">
        <span><h4> {{ data.time * 1000 | date:'EEE' }}</h4></span>
        <img
        src="{{ this.iconSource }}{{data.icon}}.png"
        alt="{{data.icon}}">
      <br>
        <span>
          <b>{{ data.temperatureMax | number: '1.0-0' }}&deg;</b> |
          {{ data.temperatureMin | number: '1.0-0' }}&deg;
        </span>
    </div>
    <div class="col-xs-3 text-right">
      <button
        type="button"
        (click)="onExpand()"
        class="btn btn-link"
        [disabled]="inExpandedView === 'weather'">
        <span class="fa fa-angle-right fa-4x" style="color: #95989A;"></span>
      </button>
    </div>
  </div>
</div>
