#card {
  height: 200px;
  margin: 0 -15px 0 -15px;
  border-bottom: 1px solid grey;
  z-index: 2;
}
.content {
  margin: 0;
}
h3 {
  position: absolute;
  left: 10px;
  margin-top: 10px;
}
button[disabled]:hover {
  cursor: default;
}
