<div class="expanded-view">
  <div id="content" class="row">
    <div id="expand-content" class="col-xs-4">
      <div class="row">
        <div class="col-xs-10">
          <h2>More Restaurants</h2>
        </div>
        <div class="col-xs-2">
          <a style="cursor: pointer; margin-right: -20px;" (click)="onClose()">
            <span class="fa fa-angle-double-left fa-4x" style="color: #95989A;"></span>
          </a>
        </div>
      </div>
      <div
        *ngFor="let data of restaurantData; let i = index">
        <a (click)="onDetailOpen(data.place_id)" style="cursor: pointer; color: black">
          <div class="row" style="padding: 10px;">
              <div class="col-xs-8">
                <p>
                <b>{{ data.name }}</b><br>
                {{data.vicinity }}<br>
                {{ data.rating }}<br>
                <span *ngIf="data['opening_hours']">
                  <span id="openText" *ngIf="data['opening_hours'].open_now" style="color: green;"><strong>Open now</strong></span>
                  <span id="closedText" *ngIf="!data['opening_hours'].open_now" style="color: red;"><strong>Closed now</strong></span>
                </span>
                </p>
                  <hr>
              </div>
              <div class="col-xs-4">
                <span *ngIf="data['photos']">
                  <div class="frame-square">
                    <div class="crop">
                      <img
                        src="{{ this.photoCall }}{{ data.photos[0].photo_reference}}"
                        alt="{{ data.name}}">
                    </div>
                  </div>
                </span>
              </div>
          </div>
        </a>
    </div>
  </div>
  <div id="detail-content" class="col-xs-8">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>
