h3 {
  padding-left: 10px;
}
#content {
  height: 90%;
  align-items: center;
  background: white;
  flex-grow: 1;
  box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  margin: 50px 20px 0 20px;
  z-index: 2;
}
.expanded-view {
  height: 100%;
  width: 40%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.glyphicon-remove {
  font-size: 20px;
  color: gray;
  margin-top: 10px;
}
